

 html, body{
    height: 100%;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color:black ;
    text-align: justify;
    font-size: 20px;
    }
   h4, h5{
        font-family: 'Fjalla One', sans-serif;
    }

    h1{
        font-size: 50px;
    }


     .navbar-nav li{
        padding-right: 20px;
        font-family: 'Francois One', sans-serif;
    }
    .nav-link{
        font-size: 1.5em !important;
    }
    
     .carousel-inner img {
      width: 100%;
       height: 100%;   
    }

   
    .carousel-caption{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 250%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
        font-family: 'Francois One', sans-serif;
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 200%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 0.7rem;
           font-family: 'Francois One', sans-serif;
        
    }
  .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        font-size: 26px;
        font-family: 'Francois One', sans-serif;
      
        
       
  }
 .carousel-caption button{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 6px;
        font-size: 16px;
        margin-top: 15px;
       
       
  }
  .btn-primary:hover{
      background-color:#4b88d8 ;
      color: beige;
      border: 1px solid #b2b5ba;
  }

  .jumbotron{
    padding: 2rem;
    border-radius: 1;
    background-color:#f2f2f2!important; 
  }
  .padding{
      padding-bottom: 2rem;
  }
  .padding h3{
      padding: 1rem;
      
  }


   .padding-1 p{
      text-align: justify;
      text-justify: inter-word;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
     
  }
  .padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
  }

  .welcome{
      width: 75%;
      margin: 0 auto;
      padding-top: 2rem;
      text-align: justify;
      
  }
  h3{
         font-family: 'Francois One', sans-serif;
         color:#7a7171;
  }
  .welcome hr{
      border-top: 2px solid #b4b4b4;
      width: 95%;
      margin-top: .3rem;
      margin-bottom: 1rem;
  }

  .foot {
      background-color: white !important;
  }

    hr.light{
         border-top: 1px solid #d5d5d5;
         width: 20%;
         margin-top: 1rem;
         margin-bottom: 1rem;
         padding-bottom: 2rem;
         }

    @media(max-width: 575.98px) {
     .carousel-caption{
        position: absolute;
        top: 30%;
       
    }
     .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        font-size: 10px;
        font-family: 'Francois One', sans-serif;
     }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 110%;
      
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 65%;
    }
    .carousel-caption .btn{
    font-size: 45%;
    padding: 4px 8px;
    margin-top: 8px;
}
.carousel-indicators{
    display: none;
}
.display-4{
font-size: 150%;
}
}
@media(min-width: 576px) and (max-width: 767.98px) {
     .carousel-caption{
        position: absolute;
        top: 30%;
       
    }
    .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        font-size: 12px;
        font-family: 'Francois One', sans-serif;
     }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 145%;
      
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 90%;
    }
    .carousel-caption .btn{
    font-size: 60%;
    padding: 4px 8px;
    margin-top: 3px;
}
.carousel-indicators{
    display: none;
}
.display-4{
font-size: 180%;
}
}
@media (min-width: 768px) and (max-width: 991.98px){
       .carousel-caption{
        position: absolute;
        top: 40%;
       
    }
    .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        font-size: 14px;
        font-family: 'Francois One', sans-serif;
     }
     
    .carousel-caption h1{
        color:#ffffff;
        font-size: 150%;
      
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 95%;
    }
    .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
    margin-top: 15px;
}
.display-4{
font-size: 200%;
}
}
@media (min-width: 992px) and (max-width: 1199.98px){
       .carousel-caption{
        position: absolute;
        top: 45%;
       
    }
    .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        font-size: 16px;
        font-family: 'Francois One', sans-serif;
     }

    .carousel-caption h1{
        color:#ffffff;
        font-size: 180%;
      
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 100%;
    }
    .carousel-caption .btn{
    font-size: 100%;
    padding: 8px 12px;
    margin-top: 40px;
}
.display-4{
font-size: 230%;
}
}
@media (min-width: 1200px){
       .carousel-caption{
        position: absolute;
        top: 50%;
       
    }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 200%;
        padding: 5px;
      
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 120%;
        padding: 3px;
    }
    .carousel-caption .btn{
    font-size: 100%;
    padding: 8px 12px;
    margin-top: 50px;
}
.display-4{
font-size: 250%;
}
}






.foot {
    
   padding-top: 20px;
    padding-bottom: 0;
}
.foot h5{
    margin-top: 2rem;
    
}
#map-container-google-2{
    height: 300px;
}
