

 html, body{
    height: 100%;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color:black ;
    text-align: justify;
    font-size: 20px;
 background-color: #ededed;
   
    }
   h4, h5{
        font-family: 'Fjalla One', sans-serif;
        padding:0.5rem;
    }

    h1{
        font-size: 50px;
    }
  
    


     .navbar-nav li{
        padding-right: 20px;
        font-family: 'Francois One', sans-serif;
        font-size: 25px;
    }
   
     .carousel-inner img {
      width: 100%;
       height: 100%; 
     
   
    }

   
    .carousel-caption{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
   

    .carousel-caption h1{
        color:#ffffff;
        font-size: 250%;
        text-transform: uppercase;
        text-shadow: 1px 1px 15px #000;
        font-family: 'Francois One', sans-serif;
    }

    .carousel-caption h2{   
     font-family: 'Francois One', sans-serif;
     font-size: 400%;
     text-transform: uppercase;
     text-shadow: 1px 1px 15px #000;
    }
    
     .carousel-caption h3{
        color:#ffffff;
        font-size: 200%;
        font-weight: 500;
        text-shadow: 1px 1px 10px #000;
        padding-bottom: 0.7rem;
        font-family: 'Francois One', sans-serif;
     }

  .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        margin-top: 10px;
        font-size: 26px;
        font-family: 'Francois One', sans-serif;
      
        
       
  }
 .carousel-caption button{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 8px;
        font-size: 16px;
        margin-top: 15px;
       
       
  }
  .btn-primary:hover{
      background-color:#4b88d8 ;
      color: beige;
      border: 1px solid #b2b5ba;
  }

  .jumbotron{
    padding-bottom: 0.5rem;
    margin-top: 0;
    padding-top: 2rem;
    border-radius: 1;
    background-color:#f1e9e5!important; 
    text-align: justify;

  }
  .thank{
   background: #2980B9 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9)!important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9)!important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 180px;
  }
  .padding{
      padding-bottom: 1rem;
     
  }
  .padding h3{
      padding: 1rem;
      
  }


   .padding p{
      text-align: justify;
      text-justify: inter-word;
      word-spacing: normal;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
     
  }
  .padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin-top: 1rem;
     margin-bottom:0;
  }
   .padding-1 img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin: 0.5rem 5rem 2rem 0rem;
    
  }

  .welcome{
      width: 75%;
      margin: 0 auto;
      padding-top: 2rem;
      text-align: justify;
      
  }
  h3{
         font-family: 'Francois One', sans-serif;
         color:#7a7171;
  }
  .welcome hr{
      border-top: 2px solid #b4b4b4;
      width: 95%;
      margin-top: .3rem;
      margin-bottom: 1rem;
  }

  

    hr.light{
         border-top: 2px solid #d5d5d5;
         width: 25%;
         margin-bottom: 0.1rem;
         }
      

    @media(max-width: 575.98px) {
     .carousel-caption{
        position: absolute;
        top: 40%;
       
    }
    
     .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 4px 8px;
        font-size: 45%;
        font-family: 'Francois One', sans-serif;
     }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 98%;
      
    }
     .carousel-caption h2{   
     font-size: 160%;
     margin-top: 15%;
  
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 65%;
        margin-top: 3%;
    }
    .carousel-caption .btn{
    font-size: 40%;
    padding: 4px 6px;
    margin-top: 3px;
}
.carousel-indicators{
    display: none;
}
.display-4{
font-size: 150%;
}
body, html{
    font-size: 15px;
}
.padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin-top: 1rem;
     margin-bottom:0;
     max-width: 80%;
    height: auto;
  }
   .padding-1 img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin: 0.5rem 5rem 2rem 0rem;
     max-width: 75%;
     height: auto;
  }


}

@media(min-width: 576px) and (max-width: 767.98px) {
     .carousel-caption{
        position: absolute;
        top: 30%;
       
    }
    
    .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 4px 8px;
        font-size: 60%;
        font-family: 'Francois One', sans-serif;
     }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 145%;
      
    }
     .carousel-caption h2{   
     font-size: 190%;
     margin-top: 15%;
  
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 90%;
    }
    .carousel-caption .btn{
    font-size: 60%;
    padding: 4px 8px;
    margin-top: 3px;
}
.carousel-indicators{
    display: none;
}
.display-4{
font-size: 180%;
}
body, html{
    font-size: 18px;
}
.padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin-top: 1rem;
     margin-bottom:0;
     max-width: 100%;
    height: auto;
  }
   .padding-1 img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin: 0.5rem 5rem 2rem 0rem;
     max-width: 100%;
     height: auto;
  }
 
}
@media (min-width: 768px) and (max-width: 991.98px){
       .carousel-caption{
        position: absolute;
        top: 40%;
       
    }
    .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 4px 8px;
        font-size: 90%;
        font-family: 'Francois One', sans-serif;
     }
     
    .carousel-caption h1{
        color:#ffffff;
        font-size: 150%;
      
    }
     .carousel-caption h2{   
     font-size: 200%;
     margin-top: 10%;
  
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 95%;
    }
    .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
    margin-top: 15px;
}
.display-4{
font-size: 200%;
}
body, html{
    font-size: 18px;
}
.padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin-top: 1rem;
     margin-bottom:0;
     max-width: 100%;
    height: auto;
  }
   .padding-1 img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin: 0.5rem 5rem 2rem 0rem;
     max-width: 100%;
     height: auto;
  }

}
@media (min-width: 992px) and (max-width: 1199.98px){
       .carousel-caption{
        position: absolute;
        top: 45%;
       
    }
    .btn-primary{
        border: 1px solid#eff3f7;
        color: white;
        font-weight: 500;
        background-color: #0d68e0;
        padding: 4px 8px;
        font-size: 100%;
        font-family: 'Francois One', sans-serif;
     }

    .carousel-caption h1{
        color:#ffffff;
        font-size: 180%;
      
    }
     .carousel-caption h2{   
     font-size: 250%;
     margin-top: 6%;
  
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 100%;
    }
    .carousel-caption .btn{
    font-size: 100%;
    padding: 8px 12px;
    margin-top: 40px;
}
.display-4{
font-size: 230%;
}
body, html{
    font-size: 19px;
}
.padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin-top: 1rem;
     margin-bottom:0;
     max-width: 100%;
    height: auto;
  }
   .padding-1 img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin: 0.5rem 5rem 2rem 0rem;
     max-width: 100%;
     height: auto;
  }
   .navbar-brand{
       max-width: 100%;
     height: auto;
  }
}
@media (min-width: 1200px){
       .carousel-caption{
        position: absolute;
        top: 50%;
       
    }
    .carousel-caption h1{
        color:#ffffff;
        font-size: 200%;
        padding: 5px;
      
    }
     .carousel-caption h2{   
     font-size: 280%;
     margin-top: 5%;
  
    }
     .carousel-caption h3{
        color:#ffffff;
        font-size: 120%;
        padding: 3px;
    }
    .carousel-caption .btn{
    font-size: 100%;
    padding: 8px 12px;
    margin-top: 50px;
}
.display-4{
font-size: 220%;
}

.padding img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin-top: 1rem;
     margin-bottom:0;
     max-width: 100%;
    height: auto;
  }
   .padding-1 img{
     border: 2px solid #ada4b8;
     border-radius: 10px 10px 10px 10px;
     margin: 0.5rem 5rem 2rem 0rem;
     max-width: 100%;
     height: auto;
  }
  
}



.foot {
   
    background-color: #f5f2f2!important;
    padding-top: 20px;
    padding-bottom: 0;
}
.foot h5{
    margin-top: 2rem;
    
}
#map-container-google-2{
    height: 300px;
    padding-top: 1rem;
}
hr.my-4{
    
         border-top: 2px solid #d5d5d5;
         width: 100%;
         margin-top: 1rem;
         margin-bottom: 0.5rem;
         padding-bottom: 1rem;
         

}
#return-to-top {
    position: fixed;
    bottom: 22px;
    right: 18px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 8px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}


